/*GLOBAL*/
body{background:url(bg.jpg) repeat-x top center; }

/*CONTEUDO*/
#conteudo_topo{background:url(../../img/conteudo_topo.png) no-repeat bottom center; }
#conteudo_base{background:url(../../img/conteudo_base.png) no-repeat top center;}

/*NOTICIAS/FINANCEIRO*/
#financeiro, #noticias{ color:#2D0707; }

/*NOTICIAS*/
#noticias .noticia:hover, tbody tr:hover{ background-color:#370704; }
#noticias .noticia{ border-bottom:1px solid #EAE6E6; }
#noticias .noticia .informacoes{color:#1a1a1a; }
#noticias .noticia .titulo{color:#270605;}
#pgNoticias #todasNoticias .noticia .titulo a{color:#370704;}

/*GERENCIAMENTO DE NOTICIAS*/
.odd{background-color:#FEF1D8;}
.odd:hover td, .even:hover td{color:#370704 !important;}
.even:hover td{background-color:white !important;}
.odd:hover td{background-color:#FEF1D8 !important;}


/*FINANCEIRO*/
#financeiro td{color:#2c2c2c;}
#financeiro .linkFaturas{color:#370704;}


/*TEMPO*/
#tempo {color:#2D0707; }

